<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <!-- Google Adsense -->
        <script data-ad-client="ca-pub-9888372056324319" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <title>EIS Analyser Data Converter</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="/">EIS Analyser Data Converter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Converter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://github.com/brunohgv/eis-analyser-data-converter" class="nav-link" target="_blank">
                            <i class="fab fa-lg fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/bruno-vasconcelos-7a1a8113b/" class="nav-link" target="_blank">
                            <i class="fab fa-lg fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container" style="max-width: 500px">
            <h2 class="mb-3">Thank you for the download</h2>
            <p>
                We are really happy to contribute to your work.
                For any issues or improvements you can send an email to <a href="mailto:brunohgv2@gmail.com">brunohgv2@gmail.com</a>
                or open an issue in our <a href="https://github.com/brunohgv/eis-analyser-data-converter" target="_blank" rel="noopener noreferrer">Github</a>.
            </p>
            <h3>Privacy</h3>
            <p>
                We care about your privacy, so we don't store any data processed in the tool. To ensure this commitment all our source code is open and available in our <a href="https://github.com/brunohgv/nova-to-eis-analyser" target="_blank" rel="noopener noreferrer">Github repository</a>.
                It means you can check all the implementation and verify what we do.
            </p>

            <a href="/" class="btn btn-secondary btn-block">Return to Home page</a>
        </div>

        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>